.card {
  height: 200px;
  border-radius: 15px;
  
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: -40%;
  left: -20%;
  border-radius: 50%;
  border: 35px solid rgba(255, 255, 255, 0.102);
  transition: all 0.8s ease;
  filter: blur(0.5rem);
}

.text {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-weight: 900;
  font-size: 1.5em;
}

.subtitle {
  font-size: 0.6em;
  font-weight: 300;
  color: rgba(76, 94, 110, 0.691);
}

.icons {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 250px;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
  background-color: rgba(247, 234, 234, 0.589);
}

.btn {
  border: none;
  width: 84px;
  height: 35px;
  background-color: rgba(247, 234, 234, 0.589);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: rgb(247, 234, 234);
}

.card:hover::before {
  width: 140px;
  height: 140px;
  top: -30%;
  left: 50%;
  filter: blur(0rem);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  .icons {
    width: 650px;
    border-radius: 0px 0px 15px 15px;
  }
  .btn {
    width: 150px;
    height: 50px;
  }
  .text {
    font-size: 1.8em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .icons {
    width: 350px;
    border-radius: 0px 0px 15px 15px;
  }
  .btn {
    width: 94px;
    height: 40px;
  }
  .text {
    font-size: 1.5em;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
/* @media only screen and (min-width: 600px) {
  .icons {
    width: 250px;
    border-radius: 0px 0px 15px 15px;
  }
  .btn {
    width: 24px;
    height: 40px;
  }
} */

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .icons {
    width: 280px;
    border-radius: 0px 0px 15px 15px;
  }
  .btn {
    width: 94px;
    height: 40px;
  }
}
